.form {
  grid-area: form;
  max-width: 512px;

  background-color: #232225;
  border-radius: 0.75rem;

  padding: 5rem;
  padding-bottom: 1.5rem;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.form > header {
  max-width: 21rem;
  margin-bottom: 1.5rem;
}

.form > header h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.form > header p {
  color: #98959d;
  font-size: 0.87rem;
}

.label {
  font-size: 1rem;
  color: #b2afb6;
  font-weight: 700;
}

.input {
  width: 100%;
  height: 3rem;

  border: 1px solid #3e3c41;
  padding: 0.87rem 0.75rem;
  border-radius: 0.5rem;

  display: flex;
  margin-bottom: 1.5rem;
}

.input i {
  margin-right: 0.5rem;
}

.input input {
  flex: 1;

  font-family: "Catamaran", sans-serif;

  font-size: 1rem;
  color: #b2afb6;
  background-color: transparent;

  outline: none;
  border: none;
}

.input:focus-within {
  border: 1.5px solid #b8952e;
}

.button {
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.87rem;
  background-color: #b8952e;
  color: #050505;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 1.25rem;
  cursor: pointer;

  transition: background-color 0.3s;
}

.button:hover {
  background-color: #dbc170;
}
